__Données structurées : __

**__Script 1 : Ouverture d'un fichier .csv__**

In [1]:
import os
import pandas

Lieu = os.getcwd()
info_villes=pandas.read_csv("villes_virgule.csv")
print(info_villes)

       dep                       nom     cp  nb_hab_2010  nb_hab_1999  \
0        1                      Ozan   1190          618          469
1        1     Cormoranche-sur-Saône   1290         1058          903
2        1                    Plagne   1130          129           83
3        1                   Tossiat   1250         1406         1111
4        1                  Pouillat   1250           88           58
...    ...                       ...    ...          ...          ...
36695  976                      Sada  97640        10195        10195
36696  976                  Tsingoni  97680        10454        10454
36697  971          Saint-Barthélemy  97133         8938         8938
36698  971              Saint-Martin  97150        36979        36979
36699  975  Saint-Pierre-et-Miquelon  97500         6080         6080

       nb_hab_2012  dens    surf      long       lat  alt_min  alt_max
0              500    93    6.60   4.91667  46.38330    170.0    205.0
1             1000   107    9.85   4.83333  46.23330    168.0    211.0
2              100    20    6.20   5.73333  46.18330    560.0    922.0
3             1400   138   10.17   5.31667  46.13330    244.0    501.0
4              100    14    6.23   5.43333  46.33330    333.0    770.0
...            ...   ...     ...       ...       ...      ...      ...
36695        10195   933   10.92  45.10470 -12.84860      NaN      NaN
36696        10454   300   34.76  45.10700 -12.78970      NaN      NaN
36697         8938   372   24.00 -62.83330  17.91670      NaN      NaN
36698        36979   695   53.20  18.09130 -63.08290      NaN      NaN
36699         6080    25  242.00  46.71070   1.71819      NaN      NaN

[36700 rows x 12 columns]

__ Script 2 : Accès à des informations précises du fichier .csv : __

In [2]:
import os
import pandas
Lieu = os.getcwd()

info_villes=pandas.read_csv("villes_virgule.csv")

info1=info_villes.loc[info_villes["nom"]=='paris',["dep","cp","nb_hab_1999"]]
print("Voici les informations concernant la ville de paris : ")
print(info1)

print()
info2=info_villes.loc[info_villes["nom"]=='Paris',["nom","dep","cp","nb_hab_2012","dens","surf","long","lat","alt_min","alt_max"]]
print("Voici les informations concernant la ville de Paris : ")
print(info2)

Voici les informations concernant la ville de paris :
Empty DataFrame
Columns: [dep, cp, nb_hab_1999]
Index: []

Voici les informations concernant la ville de Paris :
         nom dep                                                 cp  \
30437  Paris  75  75001-75002-75003-75004-75005-75006-75007-7500...

       nb_hab_2012   dens   surf     long    lat  alt_min  alt_max
30437      2211000  21288  105.4  2.34445  48.86     27.0    127.0

In [ ]:
import folium
import os
Lieu = os.getcwd()
c= folium.Map(location=[49.25112, 4.0271],zoom_start=20)
folium.Marker([49.2510, 4.0274],popup="Lycée Libergier, Hello").add_to(c)
c.save('CarteLibergier.html')
adress=Lieu+"\CarteLibergier.html"
c.add_child(folium.LatLngPopup())
c